* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin-top: 10px;
}
.nav_bar{
    background-color: #FAFAFA;
    list-style: none;
    margin: 0;
    padding: 0px 20px;
}
.nav_bar li{
    display: inline-block;
}

.nav_bar li a, a:link{
    width: 100px;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: #444444;
    text-transform: uppercase;
    text-align: center;
}
.nav_bar li a:hover{
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: #FAFAFA;
    text-transform: uppercase;
    background-color: #444444;
    font-weight: bold;
}
.main{
    padding: 30px 10px 0px 20px;
}
.col1{
    display: inline-block;
    margin: 0px 10px 0px 0px;
    width: 45%;
}
.col2{
    display: inline-block;
    margin: 0px 0px 0px 10px;
    width: 45%;
}
p{
    text-align: justify;
}