* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
<<<<<<< HEAD
header{
    margin-top: 10px;
}
.nav_bar{
    background-color: #FAFAFA;
    list-style: none;
    margin: 0;
    padding: 0px 20px;
}
.nav_bar li{
    display: inline-block;
}

.nav_bar li a, a:link{
    width: 100px;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: #444444;
    text-transform: uppercase;
    text-align: center;
}
.nav_bar li a:hover{
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: #FAFAFA;
    text-transform: uppercase;
    background-color: #444444;
    font-weight: bold;
}
.main{
    padding: 30px 10px 0px 20px;
}
.col1{
    display: inline-block;
    margin: 0px 10px 0px 0px;
    width: 45%;
}
.col2{
    display: inline-block;
    margin: 0px 0px 0px 10px;
    width: 45%;
}
p{
    text-align: justify;
=======
header h1{
	display: block;
	margin: 1px;
	padding: 1px;
}
nav div ul{
	display: inherit;
}
nav div ul li{
	float: left;
	list-style: none;
}
nav div ul li a{
	text-transform: uppercase;
    padding: 20px 40px;
    text-decoration: none;
    background: #aaa;
}
nav div ul li a:hover{
    background: #eee;
>>>>>>> d0061c40f0ca350de8ba5ed34327f46b5c196001
}